In [15]:
import requests
import pandas as pd
from datetime import datetime
import os

In [17]:
df_lines = pd.read_csv('referentiel-des-lignes.csv', sep=';')
stops_data = pd.read_csv('arrets.csv', sep=';')
delays_metro = pd.read_csv("metro_delays.csv")
delays_rer = pd.read_csv("rail_delays.csv")

In [18]:
line_refs = df_lines[(~df_lines['TransportSubmode'].isin(['suburbanRailway', 'regionalRail', 'railShuttle']))]
line_refs = line_refs[['ID_Line', 'TransportMode', 'Name_Line']]
line_refs = line_refs.sort_values(by='ID_Line')

line_refs

   ID_Line TransportMode Name_Line
28  C01371         metro         1
0   C01372         metro         2
38  C01373         metro         3
2   C01374         metro         4
27  C01375         metro         5
35  C01376         metro         6
18  C01377         metro         7
29  C01378         metro         8
41  C01379         metro         9
7   C01380         metro        10
34  C01381         metro        11
20  C01382         metro        12
37  C01383         metro        13
15  C01384         metro        14
31  C01386         metro        3B
9   C01387         metro        7B
12  C01727          rail         C
3   C01728          rail         D
36  C01729          rail         E
1   C01742          rail         A
39  C01743          rail         B

In [19]:
stops_data = stops_data[stops_data['ArRType'].isin(['metro', 'rail'])]
stops_data = stops_data.sort_values(by=['ArRType', 'ArRId'])
stops_data = stops_data[['ArRId', 'ArRName', 'ArRType', 'ArRTown']]

In [20]:
stops_filter = [22086, 463013, 22136, 462993, 21964, 462969, 22125, 463113, 41295, 473921, 473993, 41354, 474060, 474061]

filtered_stops = stops_data[stops_data['ArRId'].isin(stops_filter)]
filtered_stops

        ArRId                      ArRName ArRType         ArRTown
13849   21964                 Saint-Lazare   metro        Paris 9e
26086   22086   Charles de Gaulle - Etoile   metro       Paris 17e
13790   22125                      Blanche   metro        Paris 9e
32911   22136       Saint-Germain-des-Prés   metro        Paris 6e
34515  462969                 Saint-Lazare   metro        Paris 9e
13057  462993       Saint-Germain-des-Prés   metro        Paris 6e
28031  463013   Charles de Gaulle - Etoile   metro       Paris 17e
36557  463113                      Blanche   metro        Paris 9e
35241   41295  Avenue du Président Kennedy    rail       Paris 16e
3346    41354      Gare de Buno Gironville    rail  Buno-Bonnevaux
30441  473921        Châtelet - Les Halles    rail       Paris 1er
3697   473993        Châtelet - Les Halles    rail       Paris 1er
16586  474060            Massy - Palaiseau    rail           Massy
16585  474061            Massy - Palaiseau    rail           Massy

In [24]:
merged_metro = pd.merge(delays_metro, filtered_stops, left_on='stop_reference', right_on='ArRId')
merged_metro.drop(['ArRId', 'ArRName', 'ArRType', 'transport_mode'], axis=1, inplace=True) #inplace allows to actually modify the original datset without having to reassing with "="

In [26]:
merged_rer = pd.merge(delays_rer, filtered_stops, left_on='stop_reference', right_on='ArRId')
merged_rer.drop(['ArRId', 'ArRName', 'ArRType', 'transport_mode'], axis=1, inplace=True)