In [5]:
import requests
import pandas as pd
from datetime import datetime
import os

In [8]:
df_lines = pd.read_csv('./Data/referentiel-des-lignes.csv', sep=';')

line_refs = df_lines[(~df_lines['TransportSubmode'].isin(['suburbanRailway', 'regionalRail', 'railShuttle']))]
line_refs = line_refs[['ID_Line', 'TransportMode', 'Name_Line']]
line_refs = line_refs.sort_values(by='ID_Line')

In [12]:
line_refs

   ID_Line TransportMode Name_Line
28  C01371         metro         1
0   C01372         metro         2
38  C01373         metro         3
2   C01374         metro         4
27  C01375         metro         5
35  C01376         metro         6
18  C01377         metro         7
29  C01378         metro         8
41  C01379         metro         9
7   C01380         metro        10
34  C01381         metro        11
20  C01382         metro        12
37  C01383         metro        13
15  C01384         metro        14
31  C01386         metro        3B
9   C01387         metro        7B
12  C01727          rail         C
3   C01728          rail         D
36  C01729          rail         E
1   C01742          rail         A
39  C01743          rail         B

In [32]:
stops_data = pd.read_csv('./Data/arrets.csv', sep=';')
stops_data = stops_data[stops_data['ArRType'].isin(['metro', 'rail'])]
stops_data = stops_data.sort_values(by=['ArRType', 'ArRId'])
stops_data = stops_data[['ArRId', 'ArRName', 'ArRType', 'ArRTown']]

In [34]:
stops_data

        ArRId                ArRName ArRType    ArRTown
5490    21784          Pointe du Lac   metro    Créteil
2895    21902             République   metro   Paris 3e
34493   21903             République   metro  Paris 10e
27971   21904  Michel-Ange - Molitor   metro  Paris 16e
34491   21905              Oberkampf   metro  Paris 11e
...       ...                    ...     ...        ...
3651   487014      Nanterre-La-Folie    rail   Nanterre
12147  487015      Nanterre-La-Folie    rail   Nanterre
30379  487016      Nanterre-La-Folie    rail   Nanterre
23240  488126      Créteil Pompadour    rail    Créteil
30411  491414      Massy - Verrières    rail      Massy

[2838 rows x 4 columns]

In [50]:
stops_data[stops_data['ArRId'] == 463013]

        ArRId                     ArRName ArRType    ArRTown
28031  463013  Charles de Gaulle - Etoile   metro  Paris 17e

In [48]:
stops_filter = [22086, 463013, 22136, 462993, 21964, 462969, 22125, 463113, 41295, 473921, 473993, 41354, 474060, 474061]

In [60]:
for i in stops_filter:
    stops__data = stops_data[stops_data['ArRId'] == i]

In [62]:
stops_data

        ArRId                ArRName ArRType    ArRTown
5490    21784          Pointe du Lac   metro    Créteil
2895    21902             République   metro   Paris 3e
34493   21903             République   metro  Paris 10e
27971   21904  Michel-Ange - Molitor   metro  Paris 16e
34491   21905              Oberkampf   metro  Paris 11e
...       ...                    ...     ...        ...
3651   487014      Nanterre-La-Folie    rail   Nanterre
12147  487015      Nanterre-La-Folie    rail   Nanterre
30379  487016      Nanterre-La-Folie    rail   Nanterre
23240  488126      Créteil Pompadour    rail    Créteil
30411  491414      Massy - Verrières    rail      Massy

[2838 rows x 4 columns]